[core]
	autocrlf = input
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	algorithm = histogram
[column]
	ui = auto
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
